---
---
@media screen and (orientation: portrait) {
	:root {
		--direction: column;
		--card-title-size: 30px;
		--card-text-size: 18px;
		--card-width: 80%;
		--card-box-shadow: 0.5vh 0.5vh 0.1vh grey;
		--card-margin-size: 1vh;
	}
}

@media screen and (orientation: landscape) {
	:root {
		--direction: row;
		--card-title-size: 30px;
		--card-text-size: 18px;
		--card-width: 100%;
		--card-box-shadow: 0.5vh 0.5vh 0.1vh grey;
		--card-margin-size: 1vh;
	}
}

.info-card {
	display: flex;
	flex-direction: var(--direction);
	justify-content: space-between;
	gap: 1rem;
	width: 100%;

	text-align: left;
	padding: var(--card-margin-size);
	border-radius: calc(var(--card-margin-size) / 3);
	scroll-snap-align: start;

	.image-text {
		width: 30%;

		.title {
			font-size: var(--card-title-size);
			margin-bottom: 30px;

			@media screen and (orientation: portrait) {
				margin-bottom: 5px;
			}
		}

		.description {
			font-size: var(--card-text-size);
			margin-bottom: var(--card-margin-size);
		}
	}

	.media {
		width: 70%;
		margin-top: 0;
		margin-bottom: 30px;

		iframe {
			height: 75vh;
			width: fit-content;
			border-radius: 15px;

			@media screen and (orientation: portrait) {
				width: 75vw;
				height: unset;
			}
		}

		img {
			height: auto;
			width: fit-content;
			max-width: 100%;
			border-radius:15px;

			@media screen and (orientation: portrait) {
				width: 75vw;
				height: unset;
			}
		}
	}

	.bottom {
		.btn {
			border: unset;
			margin: calc(var(--card-margin-size) / 4);
			font-size: var(--card-text-size);
			padding: calc(var(--card-margin-size) / 4);
			border-radius: calc(var(--card-margin-size) / 15);
		}
	}
}

@media screen and (orientation: portrait) {
	.info-card {
		display: flex;
		flex-direction: var(--direction);
		justify-content: space-between;
		gap: 1rem;
		width: 100%;

		text-align: left;
		padding: var(--card-margin-size);
		border-radius: calc(var(--card-margin-size) / 3);
		scroll-snap-align: start;

		.image-text {
			width: 100%;
		}

		.media {
			width: 100%;
		}
	}
}

// Light color settings
body {
	.info-card {
		color: black;
	}
	.bottom {
		.btn {
			background-image: linear-gradient(#00000000 95%, #585858 5%);
			color: #585858;
		}
	}
}


// Dark color settings
body.dark {
	.info-card {
		color: white;
	}
	.bottom {
		.btn {
			background-image: linear-gradient(#00000000 95%, #8C8C8C 5%);
			color: #8C8C8C;
		}
	}
}
