---
---
@media screen and (orientation: portrait) {
	:root {
		--card-title-size: 30px;
		--card-text-size: 18px;
		--card-width: 80%;
		--card-box-shadow: 0.5vh 0.5vh 0.1vh grey;
		--card-margin-size: 1vh;
	}
}

@media screen and (orientation: landscape) {
	:root {
		--card-title-size: 30px;
		--card-text-size: 18px;
		--card-width: 25vh;
		--card-box-shadow: 0.5vh 0.5vh 0.1vh grey;
		--card-margin-size: 1vh;
	}
}

.info-card {
	display: flex;
	flex-direction: column;
	align-items: center;

	text-align: center;
	width: var(--card-width);
	padding: var(--card-margin-size);
	border-radius: calc(var(--card-margin-size) / 3);

	.title {
		font-size: var(--card-title-size);
		margin-bottom: 30px;
	}

	.description {
		font-size: var(--card-text-size);
		margin-bottom: var(--card-margin-size);
	}

	.media {
		margin-top: 0;
		margin-bottom: 30px;

		iframe {
			width: 100%;
			border-radius: 15px;
		}

		img {
			width: 100%;
			border-radius: 15px;
		}
	}

	.bottom {
		.btn {
			border: unset;
			margin: calc(var(--card-margin-size) / 4);
			font-size: var(--card-text-size);
			padding: calc(var(--card-margin-size) / 4);
			border-radius: calc(var(--card-margin-size) / 15);
		}
	}
}


// Light color settings
body {
	.info-card {
		color: black;
	}
	.bottom {
		.btn {
			background-image: linear-gradient(#00000000 95%, #585858 5%);
			color: #585858;
		}
	}
}


// Dark color settings
body.dark {
	.info-card {
		color: white;
	}
	.bottom {
		.btn {
			background-image: linear-gradient(#00000000 95%, #8C8C8C 5%);
			color: #8C8C8C;
		}
	}
}
