---
---

.education-image {

    // @media (orientation: portrait) {
    //     width: 70vw;
    //     max-width: 50rem;
    // }
    // @media (orientation: landscape) {
    //     height: 30vw;
    //     max-height: 15rem;
    // }

    border-radius: 15px;
}

.education-subtitle {
    margin-top: 3rem;
    font-size: 18px;
}
