---
---

.education {
    .education-image {
        // width: 70vw;
        height: 30vw;
        // max-width: 50rem;
        max-height: 20rem;
        border-radius: 15px;
    }

    .education-subtitle {
        margin-top: 3rem;
        font-size: 18px;
    }
}
