---
---
@media screen and (orientation: portrait) {
  :root {
    --home-profile-pic-size: 50vw;
		--home-signature-width: 80vw;
		--home-flex-direction: column;
  }
}
@media screen and (orientation: landscape) {
  :root {
    --home-profile-pic-size: 50%;
		--home-signature-width: 80%;
		--home-flex-direction: row;
	}
}

#home-icon-link {
	background-color: rgb(149, 255, 0);
}

.container-main {
	display: flex;
	flex-direction: var(--home-flex-direction);
	align-items: center;
	margin: 0 50px;
	height: 100vh;

	#profile-pic {
		position: relative;
		object-fit: cover;
		width: var(--home-profile-pic-size);
		height: var(--home-profile-pic-size);
		border-radius: 10px;
		left: -100px;
		opacity: 0;
	}

	svg {
		height: 100%;
		width: var(--home-signature-width);
	}
}

// Light color settings
body {
	.container-main {
		svg path {
			stroke: black !important;
		}
	}
}

// Dark color settings
body.dark {
	.container-main {
		svg path {
			stroke: white !important;
		}
	}
}
