---
---
@media screen and (orientation: portrait) {
  :root {
    --home-profile-pic-size: 50vw;
		--home-signature-width: 80vw;
		--home-flex-direction: column;
		--home-profile-pic-margin-right: 0;
  }
}
@media screen and (orientation: landscape) {
  :root {
    --home-profile-pic-size: 50vh;
		--home-signature-width: 80vh;
		--home-flex-direction: row;
		--home-profile-pic-margin-right: 5vw;
		}
}

:root {
  --background-color: #2f4f4fb3;
}

.container-main {
	display: flex;
	flex-direction: var(--home-flex-direction);
	align-items: center;
	margin: 50px;

	#profile-pic {
		position: relative;
		object-fit: cover;
		width: var(--home-profile-pic-size);
		height: var(--home-profile-pic-size);
		margin-top: var(--home-margin-size);
		border-radius: 10px;
		margin-right: var(--home-profile-pic-margin-right);
		left: -100px;
		opacity: 0;
	}

	svg {
		height: 100%;
		width: var(--home-signature-width);
	}
}


// Light color settings
body {
	.container-main {
		svg path {
			stroke: black !important;
		}
	}
}


// Dark color settings
body.dark {
	.container-main {
		svg path {
			stroke: white !important;
		}
	}
}
