---
---

@media screen and (max-aspect-ratio: 1920/1080) {
  :root {
    --layout-bckgd-image-width: unset;
    --layout-bckgd-image-height: 100vh;
  }
}

@media screen and (min-aspect-ratio: 1920/1080) {
  :root {
    --layout-bckgd-image-width: 100vw;
    --layout-bckgd-image-height: unset;
  }
}


@media screen and (orientation: portrait) {
  :root {
    --layout-margin-top: 3vw;
    --layout-margin-bottom: 20vw;
  }
}

@media screen and (orientation: landscape) {
  :root {
    --layout-margin-top: 15vh;
    --layout-margin-bottom: 3vw;
  }
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Quicksand', sans-serif;
  max-width: 100%;
  background-clip: border-box;
  font-size: 0;

  .container-main {
    position: relative;
    text-align: center;
    justify-content: center;
    top: -100px;
    position: absolute;

    @media screen and (orientation: landscape) {
      margin: auto 5rem;
      height: 80vh;
      top: 0;
      bottom: 0;
      margin-right: 100px;
    }
    @media screen and (orientation: portrait) {
      margin: 5rem auto;
      height: 75vh;
      width: 80vw;
      left: 0;
      right: 0;
      margin-bottom: 150px;
    }

    @media screen and (orientation: landscape) {
      scroll-snap-type: y mandatory;
      overflow: auto;
      padding-right: 15px; // padding right for scroll bar
    } 
    @media screen and (orientation: portrait) {
      // scroll-snap-type: x mandatory;
      // overflow: auto;
    }

    .image-shadow {
      filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.7)) drop-shadow(0px 20px 30px rgba(0, 0, 0, 0.3)) drop-shadow(0px 10px 50px rgba(0, 0, 0, 0.2));
    }
  }
}

// Light color settings
body {
  color: black;
  background: #ffffff;

  .hover-effect {
    &:hover {
      fill: black !important;
      color: black !important;
      filter: drop-shadow(2px 4px 6px black);
    }
  }
}


// Dark color settings
body.dark {
  color: white;
  background: #101010;

  .hover-effect {
    &:hover {
      fill: white !important;
      color: white !important;
      filter: drop-shadow(2px 4px 6px grey);
    }
  }
}

.hidden {
  display: none;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

/* Let's get this party started */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(90, 90, 90, 0.8);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(90, 90, 90, 0.8);
}
