---
---

@media screen and (max-aspect-ratio: 1920/1080) {
  :root {
    --layout-bckgd-image-width: unset;
    --layout-bckgd-image-height: 100vh;
  }
}

@media screen and (min-aspect-ratio: 1920/1080) {
  :root {
    --layout-bckgd-image-width: 100vw;
    --layout-bckgd-image-height: unset;
  }
}


@media screen and (orientation: portrait) {
  :root {
    --layout-margin-top: 3vw;
    --layout-margin-bottom: 20vw;
  }
}

@media screen and (orientation: landscape) {
  :root {
    --layout-margin-top: 15vh;
    --layout-margin-bottom: 3vw;
  }
}

body {
	background-image: url('/assets/images/background2.jpg');
	margin: 0;
	padding: 0;
	color: white;
	background-color: black;
	background-repeat: repeat-y;
	background-attachment: fixed;
	background-size: cover;
	background-position-x: center;
	font-family: 'Neucha', cursive;
    max-width: 100%;
    background-clip: border-box;
    font-size: 0;
}

.background-image {
	position: fixed;
	width: var(--layout-bckgd-image-width);
	height: var(--layout-bckgd-image-height);
	z-index: -10;
}

.container-main {
	padding-top: var(--layout-margin-top);
	padding-bottom: var(--layout-margin-bottom);
	text-align: center;
}

.row {
	display: flex;
	flex-wrap: wrap;
}
