---
---

@media screen and (max-aspect-ratio: 1920/1080) {
  :root {
    --layout-bckgd-image-width: unset;
    --layout-bckgd-image-height: 100vh;
  }
}

@media screen and (min-aspect-ratio: 1920/1080) {
  :root {
    --layout-bckgd-image-width: 100vw;
    --layout-bckgd-image-height: unset;
  }
}


@media screen and (orientation: portrait) {
  :root {
    --layout-margin-top: 3vw;
    --layout-margin-bottom: 20vw;
  }
}

@media screen and (orientation: landscape) {
  :root {
    --layout-margin-top: 15vh;
    --layout-margin-bottom: 3vw;
  }
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Quicksand', sans-serif;
  max-width: 100%;
  background-clip: border-box;
  font-size: 0;

  .container-main {
    padding-bottom: var(--layout-margin-bottom);
    text-align: center;
    justify-content: center;

    .image-shadow {
      filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.7)) drop-shadow(0px 20px 30px rgba(0, 0, 0, 0.3)) drop-shadow(0px 10px 50px rgba(0, 0, 0, 0.2));
    }
  }
}

// Light color settings
body {
  color: black;
  background: #ffffff;

  .hover-effect {
    &:hover {
      fill: black !important;
      color: black !important;
      filter: drop-shadow(2px 4px 6px black);
    }
  }
}


// Dark color settings
body.dark {
  color: white;
  background: #4A4A4A;

  .hover-effect {
    &:hover {
      fill: white !important;
      color: white !important;
      filter: drop-shadow(2px 4px 6px grey);
    }
  }
}
