---
---
@media screen and (orientation: portrait) {
    :root {
        // --m-margin-size: 2vw;
    }
}

@media screen and (orientation: landscape) {
    :root {
        // --m-margin-size: 1vh;
    }
}

:root {
    // --m-foreground-color: #ffffff;
    // --m-hover-color: #87CEFA;
}

.menu {
    width: 100%;

    .menu-content {
        display: flex;
        padding: 2rem 5rem;

        .title {
            font-size: 36px;
            margin-right: auto;
            margin-top: auto;
            margin-bottom: auto;
            text-decoration: none;
        }

        .tab-group {
            margin-left: auto;
            margin-top: auto;
            margin-bottom: auto;
            display: flex;
            column-gap: 5rem;
            align-items: center;
            
            .tab {
                font-size: 18px;
                text-decoration: underline;

                &.active {
                    font-size: 30px;
                    text-decoration: none;
                }
            }
        }

        .theme-icon {
            margin-top: auto;
            margin-bottom: auto;
            margin-left: 5rem;
            align-items: center;
            display: flex;
            cursor: pointer;

            svg {
                width: 4rem;
                height: 4rem;
                filter: drop-shadow;
            }
        }
    }
}

// Light color settings
body {
    .menu {
        // border-bottom: #4e4e4e solid 1px;
        background: conic-gradient(from 180deg at 50% 49.73%, #E6C6FF 0deg, #F9F2FF 360deg);
        box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.7), 0px 5px 30px rgba(0, 0, 0, 0.3);

        .menu-content {
            color: #585858;

            .title {
                color: #585858;
            }

            .tab-group {
                .tab {
                    color: #8C8C8C;
                }
            }

            .theme-icon svg {
                fill: #585858;
            }
        }

        a, .theme-icon svg {
            &:hover {
                fill: black !important;
                color: black !important;
                filter: drop-shadow(2px 4px 6px black);
            }
        }
    }
}


// Dark color settings
body.dark {
    .menu {
        border-bottom: #4e4e4e solid 1px;
        box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.7), 0px 5px 30px rgba(0, 0, 0, 0.3);
        background: linear-gradient(180deg, #00000059 0%, #0000007a 52.6%, #00000059 100%);

        .menu-content {
            color: #8C8C8C;

            .title {
                color: #8C8C8C;
            }

            .tab-group {
                .tab {
                    color: #8C8C8C;
                }
            }

            .theme-icon svg {
                fill: #8C8C8C;
            }
        }

        a, .theme-icon svg {
            &:hover {
                fill: white !important;
                color: white !important;
                filter: drop-shadow(2px 4px 6px grey);
            }
        }
    }
}
