---
---
@media screen and (orientation: portrait) {
    :root {
        // --m-margin-size: 2vw;
    }
}

@media screen and (orientation: landscape) {
    :root {
        // --m-margin-size: 1vh;
    }
}

.menu {
    width: 100%;

    .menu-content {
        display: flex;
        padding: 2rem 5rem;
        @media screen and (orientation: portrait) {
            flex-direction: column;
            padding: 1rem 2rem;
        }

        .title {
            font-size: 36px;
            margin-right: auto;
            margin-top: auto;
            margin-bottom: auto;
            text-decoration: none;
        }

        .tab-and-utility-group {
            display: flex;
        }

        .tab-group {
            margin-top: auto;
            margin-bottom: auto;
            display: flex;
            column-gap: 5rem;
            row-gap: 1rem;
            align-items: center;
            flex-flow: wrap;
            margin-left: 5rem;
            @media screen and (orientation: portrait) {
                margin-left: 0rem;
            }
            
            .tab {
                font-size: 18px;
                text-decoration: underline;

                &.active {
                    font-size: 30px;
                    text-decoration: none;
                }
            }
        }

        .theme-icon {
            margin-top: auto;
            margin-bottom: auto;
            margin-left: 5rem;
            align-items: center;
            display: flex;
            cursor: pointer;
            @media screen and (orientation: portrait) {
                margin-left: 0rem;
            }

            svg {
                width: 4rem;
                height: 4rem;
                filter: drop-shadow;
            }
        }
    }
}

// Light color settings
body {
    .menu {
        background: conic-gradient(from 180deg at 50% 49.73%, #E6C6FF 0deg, #F9F2FF 360deg);
        box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.7), 0px 5px 30px rgba(0, 0, 0, 0.3);

        .menu-content {
            .title, .tab-group .tab {
                color: #585858;
            }
            .theme-icon svg {
                fill: #585858;
            }
        }
    }
}


// Dark color settings
body.dark {
    .menu {
        border-bottom: #4e4e4e solid 1px;
        box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.7), 0px 5px 30px rgba(0, 0, 0, 0.3);
        background: linear-gradient(180deg, #00000059 0%, #0000007a 52.6%, #00000059 100%);

        .menu-content {
            .title, .tab-group .tab {
                color: #8C8C8C;
            }
            .theme-icon svg {
                fill: #8C8C8C;
            }
        }
    }
}
