---
---
:root {
	--margin-size: 3vh;
}

#programming {
	margin-left: var(--margin-size) !important;
	margin-right: var(--margin-size) !important;
	justify-content: center;
}

.menu-link-coding {
	background-color: #00000075;
}
