---
---

.skills-summary {
	padding: 2rem 2rem;
	border-radius: 15px;

	// width: 70vw;
	// height: 30vw;
	// max-width: 30rem;
	// max-height: 12rem;

	@media screen and (orientation: portrait) {
		padding: 1rem 0.5rem;
	}
}

// Light color settings
body {
	.skills-summary {
		background-color: #ffffff;

		path:nth-child(-n + 3) {
			fill: #585858;
		}
	}
}

// Dark color settings
body.dark {
	.skills-summary {
		background-color: #2f2f2f;

		path:nth-child(-n + 3) {
			fill: white;
		}
	}
}
