---
---

.skills-summary {
    padding: 2rem 1rem;
    border-radius: 15px;
    
    width: 70vw;
    height: 30vw;
    max-width: 50rem;
    max-height: 20rem;
}


// Light color settings
body {
    .skills-summary {
        background-color: #ffffff;

        path:nth-child(-n+3) {
            fill: black;
        }
    }
}

// Dark color settings
body.dark {
    .skills-summary {
        background-color: #2F2F2F;

        path:nth-child(-n+3) {
            fill: white;
        }
    }
}
