---
---

.work-experience {
    display: flex;
    column-gap: 5rem;
    font-size: 18px;
    margin-bottom: 2rem;

    @media(orientation: portrait) {
        flex-direction: column;
    }

    .metadata-side {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        text-align: right;

        @media(orientation: portrait) {
            flex-direction: row;
            text-align: left;
        }

        .logo {
            width: 20vw;
            height: fit-content;
            max-width: 10rem;
			border-radius: 15px;
            margin-bottom: 1rem;
        }

        .metadata-info {
            display: flex;
            flex-direction: column;

            .company {
                font-weight: bold;
            }
        }
    }

    .description-side {
        .title {
            font-weight: bold;
        }
        .description {
            white-space: break-spaces;
            display: flex;
            flex-direction: column;
        }
    }

    .indent {
        margin-left: 2rem;
    }
}
