<div class="info-card">
  <div class="image-text">
    <div class="title">
      {{ data.title }}
    </div>
    <div class="description">
      {{ data.description }}
    </div>
    <div class="bottom">
      {% if data.product %}
        <a
          class="btn hover-effect"
          href="{{ data.product }}"
          target="_blank">
          Visit
        </a>
      {% endif %}
      {% if data.repository %}
        <a
          class="btn hover-effect"
          href="{{ data.repository }}"
          target="_blank">
          GitHub
        </a>
      {% endif %}
    </div>
  </div>
  <div class="media image-shadow">
    {% if data.image %}
      <a href="{{ data.product }}" target="_blank">
        <img src="{{ data.image }}" />
      </a>
    {% endif %}
    {% if data.video %}
      <iframe
        loading="lazy"
        title="video"
        src="{{ data.video }}"
        frameborder="0"
        allowfullscreen="allowfullscreen"></iframe>
    {% endif %}
  </div>
</div>