<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

<!-- Tab Title -->
<title>{{ page.title }}</title>

<!-- Tab Icon -->
<link rel="shortcut icon" type="image/x-icon" href="{{ site.baseUrl }}/assets/favicon.ico" />

<!-- Plugin CSS -->
<link rel="stylesheet" href="{{ site.pluginUrl }}/bootstrap/3.3.7.css">

<!-- Font CSS -->
<link href="https://fonts.googleapis.com/css?family=Spectral&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap" rel="stylesheet">

<!-- Custom CSS -->
<link rel="stylesheet" href="{{ site.baseUrl }}/css/main.css">
<link rel="stylesheet" href="{{ site.baseUrl }}/css/modal.css">
<link rel="stylesheet" href="{{ site.baseUrl }}/css/menu.css">
<link rel="stylesheet" href="{{ site.baseUrl }}/css/card.css">

{% for css in page.css %}
	<link rel="stylesheet" href="{{ site.baseUrl }}/css/{{ css }}">
{% endfor %}

</head>
