<div class="menu">

	<div class="submenu-image">
		<a class="menu-link menu-link-home" href="{{ site.baseurl }}/">
			<img class="menu-image" src="/assets/images/home-icon.png"/>
		</a>

		<a class="menu-link menu-link-coding" href="{{ site.baseurl }}/programming/">
			<img class="menu-image" src="/assets/images/coding-icon.png"/>
		</a>

		<a class="menu-link menu-link-music" href="{{ site.baseurl }}/recordings/">
			<img class="menu-image" src="/assets/images/music-icon.png"/>
		</a>

		<a class="menu-link menu-link-resume" href="{{ site.baseurl }}/resume/">
			<img class="menu-image" src="/assets/images/resume-icon.png"/>
		</a>
	</div>

	<div class="submenu-text">
		<a class="menu-link menu-link-home" href="{{ site.baseurl }}/">
			<div class="menu-title"> Wei Tung Chen </div>
		</a>

		<a class="menu-link menu-link-coding" href="{{ site.baseurl }}/programming/">
			<div class="menu-text"> Software Projects </div>
		</a>

		<a class="menu-link menu-link-music" href="{{ site.baseurl }}/recordings/">
			<div class="menu-text"> Music Recordings </div>
		</a>

		<a class="menu-link menu-link-resume" href="{{ site.baseurl }}/resume/">
			<div class="menu-text"> Resume </div>
		</a>
	</div>

</div>
