<div class="menu">
	<div class="tab-group">
		<a
			id="home-icon-link"
			class="tab hover-effect menu-icon-wrap"
			href="/">
			<image class="menu-icon" src="/assets/images/menu/white/home.png" />
			<span class="menu-label">
				Home
			</span>
		</a>
		<a
			id="music-icon-link"
			class="tab hover-effect menu-icon-wrap"
			href="/music">
			<image class="menu-icon" src="/assets/images/menu/white/music.png" />
			<span class="menu-label">
				Music
			</span>
		</a>
		<a
			id="computer-icon-link"
			class="tab hover-effect menu-icon-wrap"
			href="/programming"
			active>
			<image class="menu-icon" src="/assets/images/menu/white/computer.png" />
			<span class="menu-label">
				Coding
			</span>
		</a>
		<a
			id="resume-icon-link"
			class="tab hover-effect menu-icon-wrap"
			href="/resume">
			<image class="menu-icon" src="/assets/images/menu/white/work.png" />
			<span class="menu-label">
				Resume
			</span>
		</a>
	</div>
	
	<!-- <a class="theme-icon tab hover-effect menu-icon-wrap" href="#">
		<div class="menu-icon">
		{% include sun_icon.html %}
		</div>
	</a> --></div>