<nav class="navbar navbar-expand-md">
	<div class="container-fluid">
		<a id="home-nav" href="{{ site.baseurl }}/" class="navbar-brand">
			Wei Tung Chen
		</a>

		<img class="navbar-toggler" src="/assets/images/menu.png" data-toggle="collapse" data-target="#navbarNav"/>

		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="nav navbar-nav">

				<li class="nav-item">
					<a href="{{ site.baseurl }}/programming/" class="nav-link"> Software Projects </a>
				</li>

				<li class="nav-item">
					<a href="{{ site.baseurl }}/recordings/" class="nav-link"> Music Recordings </a>
				</li>
<!-- 
				<li class="nav-item">
					<a href="{{ site.baseurl }}/photography/" class="nav-link"> Photography </a>
				</li> -->

				<li class="nav-item">
					<a href="{{ site.baseurl }}/assets/pdf/resume.pdf" class="nav-link"> Resume </a>
				</li>

			</ul>
		</div>
	</div>
</nav>
