---
---
:root {
	--card-title-size: 4vh;
	--card-text-size: 2.4vh;
	--card-width: 50vh;
}

.info-card {
	background-color: #ffffffe0;
	color: black;
	box-shadow: 5px 5px 1px grey;

	text-align: center;
	width: var(--card-width);
	padding: var(--margin-size);
	border-radius: calc(var(--margin-size) / 3);
	margin: calc(var(--margin-size) / 2);

	.title {
		font-size: var(--card-title-size);
		margin-bottom: calc(var(--margin-size) / 2);
	}

	.description {
		font-size: var(--card-text-size);
		margin-bottom: var(--margin-size);
	}

	.media {
		margin-bottom: var(--margin-size);
		* {
			width: 100%;
			border-radius: calc(var(--margin-size) / 4);
		}
	}

	.bottom {
		.btn {
			background-image: linear-gradient(#00000000 90%, #2f4f4f 20%);
			border: unset;
			color: black;
			margin: calc(var(--margin-size) / 4);
		}
	}
}