---
---
@media screen and (orientation: portrait) {
  :root {
    --menu-margin-size: 2vw;
    --menu-icon-size:   8vw;
    --menu-title-size:  3vw;
    --menu-font-size:   2.25vw;
    --menu-bottom:      0;

    --menu-background-color: #2f4f4f;
    --menu-background-gradient: linear-gradient(0deg, #020017, #1f5dab);
    --menu-clip-path: unset;
  }
  .submenu-text {
    display: none !important;
  }
}

@media screen and (orientation: landscape) {
  :root {
    --menu-margin-size: 1vh;
    --menu-icon-size:   15vh;
    --menu-title-size:  5vh;
    --menu-font-size:   3vh;
    --menu-bottom:      unset;

    --menu-background-color: #2f4f4fb3;
    --menu-background-gradient: linear-gradient(180deg, #1f5dab00, #1f5dab);
    --menu-clip-path: polygon(0 0, 100% 0, 100% 80%, 90% 100%, 20% 80%, 0 100%)
  }
  .submenu-image {
    display: none !important;
  }
}

:root {
  --menu-foreground-color: #ffffff;
  --menu-hover-color: #87CEFA;
}

.menu-wrap {
  filter: drop-shadow(0px 10px 5px rgba(0,0,0,0.5));
  position: fixed;
  width: 100%;
  bottom: var(--menu-bottom);

  .menu {
    box-shadow: var(--menu-margin-size) var(--menu-margin-size) calc(var(--menu-margin-size) * 3) black;
    background-image: var(--menu-background-gradient);
    clip-path: var(--menu-clip-path);
  }
}

.submenu-text {
  display: flex;
    transform: rotate(-1deg);

  .menu-link {
    white-space: nowrap;
    color: var(--menu-foreground-color) !important;
    background-color: unset !important;
    margin: auto 0;

    &:hover {
      color: var(--menu-hover-color) !important;
    }

    hr {
      background-color: var(--menu-foreground-color);
    }
  }
  .menu-title {
    font-size: var(--menu-title-size);
    padding: calc(var(--menu-margin-size) * 5) calc(var(--menu-margin-size) * 4);
    padding-top: calc(var(--menu-margin-size));

    &:hover {
      color: var(--menu-hover-color) !important;
    }
  }
  .menu-text {
    font-size: var(--menu-font-size);
    padding: calc(var(--menu-margin-size) * 5);
    padding-top: calc(var(--menu-margin-size));
  }
}

.submenu-image {
  display: flex;

  .menu-link {
    width: 25%;
    text-align: center;
  }
  .menu-image {
    width: var(--menu-icon-size);
    height: var(--menu-icon-size);
    margin: var(--menu-margin-size) 0;
  }
}
