---
---
@media screen and (orientation: portrait) {
  :root {
    --menu-title-size: 3vh;
    --menu-margin-size: 0.5vh;
    --menu-toggle-size: 5vh;
  }
}
@media screen and (orientation: landscape) {
  :root {
    --menu-title-size: 4vh;
    --menu-margin-size: 0.5vh;
    --menu-toggle-size: 5vh;
  }
}

:root {
  --menu-background-color: #2f4f4fed;
  --menu-foreground-color: #ffffff;
  --menu-hover-color: #87CEFA;
}

.navbar {
  box-shadow: 1px 1px 3px black;
  opacity: 1;
  z-index: 100;
  background-color: var(--menu-background-color);
  padding: var(--menu-margin-size) !important;
  padding-left: calc(var(--menu-margin-size) * 6) !important;
  position: fixed;
  width: 100%;

  .nav-item{
    padding-right: 20px;
  }
}

.navbar-brand {
  padding-top: 0;
  padding-bottom: 0;
}

.navbar-nav {
  border-radius: 5px;
}

.navbar-nav .nav-link {
  padding-left: var(--menu-margin-size) !important;
  white-space: nowrap;
  color: var(--menu-foreground-color) !important;
  background-color: unset !important;
  font-size: calc(var(--menu-title-size) * 0.7);

  &:hover {
    color: var(--menu-hover-color) !important;
  }

  hr {
    background-color: var(--menu-foreground-color);
  }
}

.navbar-nav li .dropdown-menu {
  background-color: var(--menu-background-color);
  background-clip: unset;
  margin: 0;

  .dropdown-item {
    color: var(--menu-foreground-color) !important;

    &:hover {
      color: var(--menu-hover-color) !important;
      background-color: unset;
    }
  }

  hr {
    background-color: var(--menu-foreground-color);
    margin-left: 15px;
    margin-right: 15px;
  }
}

#home-nav {
  padding-right: calc(var(--menu-margin-size) * 6);
  color: var(--menu-foreground-color);
  font-size: var(--menu-title-size);
  font-weight: bold;

  &:hover {
    color: var(--menu-hover-color) !important;
  }

  img {
    height: 48px;
  }
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.navbar-toggler {
  padding: var(--menu-margin-size);
  width: var(--menu-toggle-size);

  /*font-size: var(--menu-title-size);*/
}
