---
---
:root {
	--margin-size: 3vh;
}

#recording {
	margin-left: unset !important;
	margin-right: unset !important;
	justify-content: center;
	padding-top: calc(var(--margin-size) * 3);
	padding-bottom: calc(var(--margin-size) * 3);
}
