---
permalink: /resume
title: Resume
layout: default
css:
- "resume.css"
- "work_experience.css"
- "education.css"
- "skills_summary.css"
---

<div id="resume" class="container-main card-container">
    <div class="top-section">
        <div class="education-section">
            <div class="section-title">EDUCATION</div>
            {% include education.html %}
        </div>
        <div class="intro-section">
            <div class="current-job-title">SOFTWARE ENGINEER</div>
            <div class="contact-email">weitungchen1998@gmail.com</div>
            {% include skills_summary.html %}
        </div>
    </div>

    <div class="section-title">WORK EXPERIENCE</div>
    {% for data in site.data.work_experience %}
        {% include work_experience.html data=work_experience %}
    {% endfor %}
</div>
