---
permalink: /resume
title: Resume
layout: default
css:
- "resume.css"
- "work_experience.css"
- "education.css"
- "skills_summary.css"
---

<div id="resume" class="container-main card-container">
  <div class="top-section">
    <div class="intro-section">
      <div class="left name">
        Wei Tung Chen
      </div>

      <div class="right">
        <div class="current-job-title">
          SOFTWARE (WEB) ENGINEER
        </div>
        <div class="contact-email">
          weitungchen1998@gmail.com
        </div>
        <div class="contact-school">
          UC Santa Barbara
        </div>
      </div>
    </div>

    <div class="intro-images">
      {% include skills_summary.html %}
      {% include education.html %}
    </div>
  </div>

  {% comment %}
    <div class="section-title">
    WORK EXPERIENCE
    </div>	
  {% endcomment %}{% for data in site.data.work_experience %}
    {% include work_experience.html data=work_experience %}
  {% endfor %}
</div>
